<app-navbar></app-navbar>
<div class="content" *ngIf="showLogin">
  <div class="header">
    <h2>Войдите в ваш аккаунт</h2>
  </div>
  <div class="card">
    <div class="input-container">
      <p>Логин</p>
      <input type="text" name="login" placeholder="loginname" [(ngModel)]="username">
    </div>
    <div class="input-container">
      <p>Пароль</p>
      <input type="password" name="password" placeholder="password" [(ngModel)]="password">
    </div>

    <div class="supporting-inputs">
      <input type="checkbox" id="remember" name="remember" />
      <label for="remember">Запомнить меня</label>
      <a class="register-link" (click)="toggleRegistration()">Зарегистрироваться</a>
    </div>

    <div class="button">
      <button class="login-button" (click)="log(username, password)">Войти</button>
    </div>
    <div class="divider">
      <span class="divider-line"></span>
      <span class="divider-text">Или войти через</span>
      <span class="divider-line"></span>
    </div>
    <div class="github-login">
      <a href="/auth/github">
        <i class="fab fa-github"></i>
      </a>
    </div>          
  </div>
</div>

<app-registration *ngIf="showRegistration"></app-registration>
