<div class="why-us">
    <h3>Почему именно мы?</h3>
    <div class="container">
        <div class="features">
            <div class="image">
                <img src="../assets/Icon.png" alt="Проверенные рецепты">
            </div>
            <div class="feature-text">
                <h4>Проверенные рецепты</h4>
                <p>Вы можете найти множество проверенных рецептов, которые помогут вам приготовить вкусные и разнообразные блюда для всей семьи.</p>
            </div>
        </div>
        <div class="features">
            <div class="image">
                <img src="../assets/Icon.png" alt="Проверенные рецепты">
            </div>
            <div class="feature-text">
                <h4>Для всех</h4>
                <p>Вы сможете найти легкие и вкусные блюда, которые понравятся и детям, и взрослым.</p>
            </div>
        </div>
        <div class="features">
            <div class="image">
                <img src="../assets/Icon.png" alt="Проверенные рецепты">
            </div>
            <div class="feature-text">
                <h4>Огромное разнообразие</h4>
                <p>Разнообразие рецептов для всех порадует самых разносторонних гурманов</p>
            </div>
        </div>
        <div class="features">
            <div class="image">
                <img src="../assets/Icon.png" alt="Проверенные рецепты">
            </div>
            <div class="feature-text">
                <h4>Храним рецепты для вас</h4>
                <p>Это отличный способ организовать и хранить свою коллекцию кулинарных рецептов. Вместо того, чтобы хранить бумажные копии или оставлять их в разных кулинарных книгах.</p>
            </div>
        </div>
    </div>
</div>
