<app-navbar></app-navbar>
    
    <div class="recipe-cards">
        <div *ngFor="let recipe of recipes" class="card-item" [routerLink]="['/recipe', recipe.id]">
            <img class="main" src="{{ recipe.image }}" alt="Изображение рецепта">
            <p class="title">{{ recipe.title }}</p>
            <div class="card-content">
                <div class="recipe-items">
                    <div class="recipe-shape">
                        <img src="../assets/Timer.png" alt="Таймер">
                        <p class="short-inform">{{ recipe.timeCooking }} Минут</p>
                    </div>
                    <div class="recipe-shape">
                        <img src="../assets/ForkKnife.png" alt="Столовые приборы">
                        <p class="short-inform">{{ recipe.tags }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>